.NewsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.NewsCard {
  margin: 2%;
}
.stickyIcon {
  position: sticky;
  top: 10%;
  display: flex;
  justify-content: end;
  z-index: 1;
  margin-right: 3%;
}
.filterGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #071a2f;
}
.Header_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
